.container{
    position: absolute;
width: 1454.13px;
height: 785px;
left: 0px;
top: 0px;
}
.group639{
    position: absolute;
width: 273px;
height: 45px;
left: 1040px;
top: 740px;
}
.micro{
    position: absolute;
width: 273px;
height: 15px;
left: 1040px;
top: 770px;

font-family: 'GT Walsheim Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #444053;

}
.akash{
    position: absolute;
width: 185px;
height: 30px;
left: 1040px;
top: 740px;

font-family: 'GT Walsheim Pro';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;

color: #444053;

}
.group640{
    position: absolute;
width: 193px;
height: 45px;
left: 720px;
top: 690px;

}
.chef{
    position: absolute;
    width: 193px;
    height: 15px;
    left: 720px;
    top: 720px;
    
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    
    color: #444053;
    
}
.rakhi{
    position: absolute;
    width: 185px;
    height: 30px;
    left: 720px;
    top: 690px;
    
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    
    color: #444053;
}
.mask-group{
    position: absolute;
width: 214.42px;
height: 200px;
left: 690px;
top: 480px;
}
.image1{
    position: absolute;
width: 206.77px;
height: 175px;
left: 693.5px;
top: 505px;

background: url(./image\ 1.png);
}
.vector1{
    position: absolute;
width: 214.42px;
height: 200px;
left: 690px;
top: 480px;

background: #D1C1B4;
}
.vector2{
    position: absolute;
width: 214.42px;
height: 200px;
left: 690px;
top: 480px;

background: #D1C1B4;
}
.mask-group2{
    position: absolute;
width: 253.6px;
height: 250px;
left: 960px;
top: 480px;

}
.kisspng{
    position: absolute;
width: 252.34px;
height: 416.67px;
left: 960.83px;
top: 494.17px;

background: url(./kisspng-stock-photography-royalty-free-5b0a5e520241d8\ 1.png);
}
.vector3{
    position: absolute;
width: 253.6px;
height: 250px;
left: 960px;
top: 480px;

background: #D1C1B4;
}
.vector4{
    position: absolute;
width: 253.6px;
height: 250px;
left: 960px;
top: 480px;

background: #D1C1B4;
}
.group623{
    position: absolute;
width: 229.13px;
height: 250.61px;
left: 1225px;
top: 380px;

filter: drop-shadow(4px 20px 32px rgba(0, 0, 0, 0.25));
}
.vector-1{
     height: 120.69435119628906px;
    width: 162.7862548828125px;
    left: 1245.1617736816406px; 
     top: 415.52392578125px; 
    border-radius: 0px; 
    position: absolute;
left: 86.47%;
right: 2.23%;
top: 9.23%;
bottom: 88.08%;

background: #3F3D56;
}

.vector-2{
    position: absolute;
left: 100.18%;
right: -0.98%;
top: 11.1%;
bottom: 88.64%;

background: #3F3D56;
}
.vector-3{
    position: absolute;
left: 92.84%;
right: 6.36%;
top: 11.68%;
bottom: 88.06%;

background: #3F3D56;
}
.vector-4{
    position: absolute;
left: 87.47%;
right: 11.72%;
top: 12.6%;
bottom: 87.14%;

background: #3F3D56;
}
.vector-5{
    position: absolute;
left: 85.07%;
right: -0.59%;
top: 8.47%;
bottom: 85.99%;

background: #3F3D56;
}
.vector-6{
    
position: absolute;
left: 85.14%;
right: -0.59%;
top: 11.53%;
bottom: 86.01%;

background: #7EC845;
}
.vector-7{
    position: absolute;
left: 93.21%;
right: 6.73%;
top: 12.15%;
bottom: 87.79%;

background: #E6E6E6;
}
.vector-8{
    position: absolute;
left: 93.21%;
right: 6.73%;
top: 8.63%;
bottom: 87.96%;

background: #E6E6E6;
}
.vector-9{
    position: absolute;
left: 93.21%;
right: 6.73%;
top: 8.45%;
bottom: 91.49%;

background: #E6E6E6;
}
.vector-10{
    position: absolute;
left: 87.84%;
right: 12.09%;
top: 13.05%;
bottom: 86.89%;

background: #E6E6E6;
}
.vector-11{
    position: absolute;
left: 87.84%;
right: 12.09%;
top: 8.63%;
bottom: 87.06%;

background: #E6E6E6;
}
.vector-12{
    position: absolute;
left: 87.84%;
right: 12.09%;
top: 8.45%;
bottom: 91.49%;

background: #E6E6E6;
}
.vector-13{
    position: absolute;
left: 85.1%;
right: -0.27%;
top: 11.22%;
bottom: 88.76%;

background: #E6E6E6;
}
.vector-14{
    position: absolute;
left: 85.1%;
right: 7.13%;
top: 11.8%;
bottom: 88.18%;

background: #E6E6E6;
}
.vector-15{
    position: absolute;
left: 85.1%;
right: 12.31%;
top: 12.74%;
bottom: 87.25%;

background: #E6E6E6;
}
.vector-16{
    position: absolute;
left: 85.07%;
right: 0%;
top: 8.44%;
bottom: 86%;

background: #F1F1F1;
}
.group-622{
    position: absolute;
width: 524.41px;
height: 393.43px;
left: 832.84px;
top: 143.57px;

filter: drop-shadow(10px 50px 80px rgba(0, 0, 0, 0.25));
}
.vector--1{
    position: absolute;
left: 81.82%;
right: 17.72%;
top: 9.03%;
bottom: 89.31%;

background: #7EC845;
opacity: 0.2;
}
.vector--2{
    position: absolute;
left: 80.94%;
right: 18.6%;
top: 9.03%;
bottom: 89.31%;

background: #7EC845;
opacity: 0.2;
}
.vector--3{
    position: absolute;
left: 80.06%;
right: 19.48%;
top: 9.48%;
bottom: 89.31%;

background: #7EC845;
opacity: 0.2;

}
.vector--4{
    position: absolute;
left: 79.18%;
right: 20.36%;
top: 9.86%;
bottom: 89.31%;

background: #7EC845;
opacity: 0.2;
}
.vector--5{
    position: absolute;
left: 78.3%;
right: 21.24%;
top: 8.83%;
bottom: 89.31%;

background: #FFFFFF;
}
.vector--6{
    
position: absolute;
left: 77.43%;
right: 22.11%;
top: 9.27%;
bottom: 89.31%;

background: #FFFFFF;
}
.vector--7{
    position: absolute;
left: 76.55%;
right: 22.99%;
top: 9.56%;
bottom: 89.31%;

background: #7EC845;
}
.vector--8{
    position: absolute;
left: 74.79%;
right: 24.75%;
top: 8.64%;
bottom: 89.31%;

background: #7EC845;
}
.vector--9{
    position: absolute;
left: 75.67%;
right: 23.87%;
top: 8.64%;
bottom: 89.31%;

background: #FFFFFF;
}
.vector--10{
    position: absolute;
left: 74.79%;
right: 24.75%;
top: 9.03%;
bottom: 89.31%;

background: #DFE3EF;
}
.vector-11{
    position: absolute;
left: 73.91%;
right: 25.63%;
top: 9.58%;
bottom: 89.31%;

background: #FFFFFF;
}
.vector--12{
    position: absolute;
left: 73.04%;
right: 26.5%;
top: 10.2%;
bottom: 89.31%;

background: #FFFFFF;
}
.vector--13{
    position: absolute;
left: 61.84%;
right: 34.59%;
top: 9.25%;
bottom: 89.93%;

background: #7EC845;
}
.vector--14{
    position: absolute;
left: 81.82%;
right: 17.72%;
top: 5.72%;
bottom: 92.62%;

background: #7EC845;
}
.vector--15{
    position: absolute;
left: 80.94%;
right: 18.6%;
top: 5.72%;
bottom: 92.62%;

background: #7EC845;
opacity: 0.2;
}
.vector--16{
    position: absolute;
left: 80.06%;
right: 19.48%;
top: 6.17%;
bottom: 92.62%;

background: #7EC845;
}
.vector--17{
    
position: absolute;
left: 79.18%;
right: 20.36%;
top: 6.55%;
bottom: 92.62%;

background: #7EC845;
opacity: 0.2;
}
.vector--18{
    position: absolute;
left: 78.3%;
right: 21.24%;
top: 5.52%;
bottom: 92.62%;

background: #7EC845;
}
.vector--19{
    position: absolute;
left: 77.43%;
right: 22.11%;
top: 5.96%;
bottom: 92.62%;

background: #7EC845;
opacity: 0.2;
}
.vector--20{
    position: absolute;
left: 76.55%;
right: 22.99%;
top: 6.25%;
bottom: 92.62%;

background: #7EC845;
}
.vector--21{
    position: absolute;
left: 74.79%;
right: 24.75%;
top: 5.33%;
bottom: 92.62%;

background: #7EC845;
}
.vector--22{
    position: absolute;
left: 75.67%;
right: 23.87%;
top: 5.33%;
bottom: 92.62%;

background: #FFFFFF;
}
.vector--23{
    position: absolute;
left: 74.79%;
right: 24.75%;
top: 5.72%;
bottom: 92.62%;

background: #DFE3EF;
}
.vector--24{
    position: absolute;
left: 73.91%;
right: 25.63%;
top: 6.27%;
bottom: 92.62%;

background: #FFFFFF;
}
.vector--25{
    position: absolute;
left: 73.04%;
right: 26.5%;
top: 6.88%;
bottom: 92.62%;

background: #FFFFFF;
}
.vector--26{
    position: absolute;
left: 70.04%;
right: 14.73%;
top: 8.31%;
bottom: 88.98%;

background: #7EC845;
opacity: 0.2;
}
.vector--27{
    position: absolute;
left: 70.04%;
right: 14.73%;
top: 5%;
bottom: 92.29%;

background: #7EC845;
opacity: 0.2;
}
.vector--28{
    position: absolute;
left: 63.2%;
right: 35.95%;
top: 6.09%;
bottom: 93.64%;

background: #FFFFFF;
}
.vector--29{
    position: absolute;
left: 61.83%;
right: 34.58%;
top: 5.9%;
bottom: 93.2%;

background: #7EC845;
}
.vector--30{
    position: absolute;
left: 62.13%;
right: 36.83%;
top: 3.44%;
bottom: 96.22%;

background: #8CCF4D;
opacity: 0.8;
}
.vector--31{
    position: absolute;
left: 60.6%;
right: 38.35%;
top: 3.44%;
bottom: 96.22%;

background: #FED253;
opacity: 0.8;
}
.vector--32{
    position: absolute;
left: 59.08%;
right: 39.88%;
top: 3.44%;
bottom: 96.22%;

background: #FA5959;
opacity: 0.8;
}
.vector--33{
    position: absolute;
left: 57.84%;
right: 5.75%;
top: 3.19%;
bottom: 95.97%;

background: #65617D;
}
.vector--34{
    position: absolute;
left: 57.84%;
right: 5.75%;
top: 3.19%;
bottom: 88.07%;

background: #F1F1F1; 
}

.home{
    
    position: relative;
    width: 1440px;
    height: 4500px;
    
    background: #FFFFFF;
    }
    .group-842{
        position: absolute;
    width: 1460px;
    height: 649px;
    left: -60px;
    top: 941px;
    }
    .group-841{
        position: absolute;
    width: 300px;
    height: 400px;
    left: 1100px;
    top: 1100px;
    }
    .group-840{
        position: absolute;
    width: 287.29px;
    height: 150px;
    left: 1106px;
    top: 1330px;
    
    }
    .group-839{
        position: absolute;
    width: 65.88px;
    height: 114.5px;
    left: 1106px;
    top: 1365.4px;
    
    }
    .vector---1{
        position: absolute;
    left: 76.81%;
    right: 19.8%;
    top: 32.87%;
    bottom: 67.11%;
    
    background: #3F3D56;
    }
    .vector---2{
        position: absolute;
    left: 80.53%;
    right: 18.62%;
    top: 31.69%;
    bottom: 67.99%;
    
    background: #7EC845;
    }
    .vector---3{
        position: absolute;
        left: 78.82%;
        right: 19.76%;
        top: 30.34%;
        bottom: 69.29%;
        
        background: #2F2E41;
    }
    .vector---4{
        position: absolute;
        left: 77.94%;
        right: 21.27%;
        top: 30.79%;
        bottom: 68.83%;
        
        background: #CCCCCC;
    }
    .vector---5{
        position: absolute;
    left: 78.16%;
    right: 21.35%;
    top: 30.97%;
    bottom: 68.21%;
    
    background: #A0616A;
    }
    .vector---6{
        position: absolute;
    left: 79.62%;
    right: 19.6%;
    top: 30.9%;
    bottom: 68.69%;
    
    background: #CCCCCC;
    }
    .vector---7{
        position: absolute;
        left: 78.22%;
        right: 19.98%;
        top: 30.76%;
        bottom: 68.19%;
        
        background: #CCCCCC;
    }
    .vector---8{
        position: absolute;
    left: 77.66%;
    right: 20.12%;
    top: 31.51%;
    bottom: 67.27%;
    
    background: #2F2E41;
    }
    .vector---9{
        position: absolute;
    left: 79.05%;
    right: 19.92%;
    top: 30.43%;
    bottom: 69.24%;
    
    background: #A0616A;
    }
    .vector---10{
        position: absolute;
    left: 78.2%;
    right: 21%;
    top: 32.88%;
    bottom: 67.02%;
    
    background: #2F2E41;
    transform: rotate(-156.81deg);
    
    }
    .vector---11{
        position: absolute;
    left: 77.6%;
    right: 21.66%;
    top: 32.42%;
    bottom: 67.25%;
    
    background: #A0616A;
    }
    .vector---12{
        position: absolute;
    left: 79.68%;
    right: 19.52%;
    top: 32.88%;
    bottom: 67.02%;
    
    background: #2F2E41;
    transform: rotate(180deg);
    
    }
    .vector---13{
        position: absolute;
    left: 78.93%;
    right: 20.69%;
    top: 32.49%;
    bottom: 67.2%;
    
    background: #A0616A;
    }
    .vector---14{
        position: absolute;
    left: 79.63%;
    right: 19.01%;
    top: 31.02%;
    bottom: 68.21%;
    
    background: #A0616A;
    }
    .group-836{
        position: absolute;
    left: 77.41%;
    right: 7.72%;
    top: 29.56%;
    bottom: 67.11%;
    
    }
    .v836-1{
        position: absolute;
        left: 81.17%;
        right: 11.2%;
        top: 30.5%;
        bottom: 68.29%;
        
        background: #7EC845;
    }
    .v836-2{
        position: absolute;
    left: 80.75%;
    right: 10.81%;
    top: 31.87%;
    bottom: 67.88%;
    
    background: #F5F5F5;
    }
    .v836-3{
        position: absolute;
        left: 80.75%;
        right: 10.81%;
        top: 30.38%;
        bottom: 68.13%;
        
        background: #FFFFFF;
    }
    .v836-4{
        position: absolute;
        left: 80.65%;
        right: 10.71%;
        top: 30.34%;
        bottom: 67.84%;
        
        background: linear-gradient(0deg, rgba(128, 128, 128, 0.25) -63616%, rgba(128, 128, 128, 0.12) -43983.22%, rgba(128, 128, 128, 0.1) -27259%);
    }
    .v836-5{
        position: absolute;
        left: 82.41%;
        right: 12.48%;
        top: 32.61%;
        bottom: 67.31%;
        
        background: #F5F5F5;
    }
    .v836-6{
        position: absolute;
        left: 82.39%;
        right: 12.45%;
        top: 32.61%;
        bottom: 67.29%;
        
        background: linear-gradient(0deg, rgba(128, 128, 128, 0.25) -62600%, rgba(128, 128, 128, 0.12) -61552.4%, rgba(128, 128, 128, 0.1) -60660%);
    }
    .v836-7{
        position: absolute;
        left: 82.41%;
        right: 12.48%;
        top: 32%;
        bottom: 67.39%;
        
        background: #E0E0E0;
    }
    .v836-8{
        position: absolute;
    left: 77.46%;
    right: 7.79%;
    top: 32.69%;
    bottom: 67.14%;
    
    background: #F5F5F5;
    }
    .v836-9{
        position: absolute;
    left: 77.41%;
    right: 7.72%;
    top: 32.69%;
    bottom: 67.11%;
    
    background: linear-gradient(0deg, rgba(128, 128, 128, 0.25) -66182%, rgba(128, 128, 128, 0.12) -64041.44%, rgba(128, 128, 128, 0.1) -62218%);
    }
    .v836-10{
        position: absolute;
        left: 84.34%;
        right: 14.91%;
        top: 29.56%;
        bottom: 70.22%;
        
        background: #D34836;
    
    }
    .v836-11{
    
        position: absolute;
    left: 84.31%;
    right: 14.94%;
    top: 29.57%;
    bottom: 70.2%;
    
    background: linear-gradient(90deg, rgba(128, 128, 128, 0.25) 56600%, rgba(128, 128, 128, 0.12) 59192%, rgba(128, 128, 128, 0.1) 61400%);
    }
    .v836-12{
        position: absolute;
        left: 90.16%;
        right: 9.24%;
        top: 29.99%;
        bottom: 69.76%;
        
        background: #BD081C;
    }
    .v836-13{
        position: absolute;
        left: 90.12%;
        right: 9.28%;
        top: 30.01%;
        bottom: 69.74%;
        
        background: linear-gradient(0deg, rgba(128, 128, 128, 0.25) -25709%, rgba(128, 128, 128, 0.12) -23009%, rgba(128, 128, 128, 0.1) -20709%);
    }
    .v836-14{
        position: absolute;
        left: 87.29%;
        right: 11.89%;
        top: 29.63%;
        bottom: 70.08%;
        
        background: #0077B5;
    }
    .v836-15{
        position: absolute;
        left: 87.25%;
        right: 11.92%;
        top: 29.64%;
        bottom: 70.07%;
        
        background: linear-gradient(0deg, rgba(128, 128, 128, 0.25) -19265%, rgba(128, 128, 128, 0.12) -16150.82%, rgba(128, 128, 128, 0.1) -13498%);
    }
    .v836-16{
        position: absolute;
        left: 81.67%;
        right: 17.55%;
        top: 29.67%;
        bottom: 70.13%;
        
        background: #00ACED;
    }
    .v836-17{
        position: absolute;
        left: 81.64%;
        right: 17.58%;
        top: 29.68%;
        bottom: 70.11%;
        
        background: linear-gradient(0deg, rgba(128, 128, 128, 0.25) -18360%, rgba(128, 128, 128, 0.12) -16145.46%, rgba(128, 128, 128, 0.1) -14259%);
    }
    .v836-18{
    
        position: absolute;
        left: 78.87%;
        right: 20.6%;
        top: 30.11%;
        bottom: 69.63%;
        
        background: #3B5998;
        
    }
    .v836-{
    
        position: absolute;
        left: 78.84%;
        right: 20.64%;
        top: 30.12%;
        bottom: 69.62%;
        
        background: linear-gradient(0deg, rgba(128, 128, 128, 0.25) -0.04%, rgba(128, 128, 128, 0.12) 54.04%, rgba(128, 128, 128, 0.1) 100.12%);
    }
    .group-838{
        position: absolute;
    width: 103.29px;
    height: 43.46px;
    left: 1290px;
    top: 1365px;
    
    }
    .v838-1{
        position: absolute;
        left: 95.01%;
        right: 4.14%;
        top: 30.55%;
        bottom: 69.13%;
        
        background: #FF6584;
    }
    .v838-2{
        position: absolute;
        left: 92.79%;
        right: 6.36%;
        top: 30.55%;
        bottom: 69.13%;
        
        background: #7EC845;
    }
    .v838-3{
        position: absolute;
    left: 90.48%;
    right: 8.67%;
    top: 30.55%;
    bottom: 69.13%;
    
    background: #7EC845;
    }
    .v838-4{
        position: absolute;
    left: 93.88%;
    right: 5.27%;
    top: 30.76%;
    bottom: 68.92%;
    
    background: #E6E6E6;
    }
    .v838-5{
        position: absolute;
    left: 91.63%;
    right: 7.52%;
    top: 30.76%;
    bottom: 68.92%;
    
    background: #E6E6E6;
    }
    .v838-6{
        position: absolute;
        left: 89.58%;
        right: 3.24%;
        top: 30.33%;
        bottom: 68.7%;
        
        background: #3F3D56; 
    }
    .group-837{
        position: absolute;
    width: 58.01px;
    height: 60px;
    left: 1329px;
    top: 1420px;
    }
    
    
    .v837-1{
        position: absolute;
        left: 94.82%;
        right: 4.48%;
        top: 31.67%;
        bottom: 68.27%;
        
        background: #E6E6E6;
    }
    .v837-2{
        position: absolute;
    left: 94.97%;
    right: 4.33%;
    top: 32.68%;
    bottom: 67.26%;
    
    background: #7EC845;
    }
    .v837-3{
        position: absolute;
        left: 94.89%;
        right: 4.52%;
        top: 31.89%;
        bottom: 68.1%;
        
        background: #3F3D56;
        transform: rotate(-60.71deg);
    }
    .v837-4{
        position: absolute;
    left: 94.89%;
    right: 5.08%;
    top: 32.55%;
    bottom: 67.26%;
    
    background: #3F3D56;
    transform: rotate(-44.73deg);
    
    }
    .v837-5{
        position: absolute;
    left: 94.32%;
    right: 4.68%;
    top: 31.84%;
    bottom: 67.9%;
    
    background: #E6E6E6;
    }
    .v837-6{
        position: absolute;
    left: 93.12%;
    right: 4.51%;
    top: 31.84%;
    bottom: 67.4%;
    
    background: #7EC845;
    }
    .v837-7{
        position: absolute;
    left: 92.29%;
    right: 3.68%;
    top: 31.56%;
    bottom: 67.11%;
    
    background: #3F3D56;
    }
    .group-738{
        position: absolute;
    width: 300px;
    height: 400px;
    left: 1100px;
    top: 1100px;
    
    }
    .group-642{
        position: absolute;
    width: 260px;
    height: 160px;
    left: 1120px;
    top: 1130px;
    }
    .group-641{
        position: absolute;
    width: 117px;
    height: 20px;
    left: 1120px;
    top: 1270px;
    
    }
    .group-641-1{
        position: absolute;
        left: 84.24%;
        right: 15.07%;
        top: 28.56%;
        bottom: 70.91%;
        
        transform: rotate(-90deg);
    }
    .group-641-1-1{
        position: absolute;
        left: 84.24%;
        right: 15.07%;
        top: 28.56%;
        bottom: 70.91%;
        
        transform: rotate(-90deg);
    }
    .group-641-1-1-1{
        position: absolute;
        left: 84.24%;
        right: 15.07%;
        top: 28.56%;
        bottom: 70.91%;
        
        transform: rotate(-90deg);
    }
    .vector-641-g{
        position: absolute;
    left: 84.24%;
    right: 15.07%;
    top: 28.56%;
    bottom: 70.91%;
    
    background: #FA5959;
    transform: rotate(-90deg);
    }
    .a641{
        position: absolute;
    width: 88px;
    height: 20px;
    left: 1120px;
    top: 1270px;
    
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    
    color: #FA5959;
    
    }
    .text-buss{
        position: absolute;
    width: 260px;
    height: 60px;
    left: 1120px;
    top: 1200px;
    
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: justify;
    
    color: #444053;
    
    }
    .text-learn{
        position: absolute;
    width: 260px;
    height: 60px;
    left: 1120px;
    top: 1130px;
    
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    
    color: #444053;
    
    }
    .rect-21{
        position: absolute;
    width: 300px;
    height: 400px;
    left: 1100px;
    top: 1100px;
    
    background: #FFFFFF;
    box-shadow: 2px 10px 16px rgba(101, 97, 125, 0.2);
    border-radius: 10px;
    }
    .group-835{
        position: absolute;
    width: 300px;
    height: 400px;
    left: 770px;
    top: 1100px;
    
    }
    .group-834{
        position: absolute;
    width: 206.66px;
    height: 150px;
    left: 817px;
    top: 1330px;
    
    }
    .v834-1{
        position: absolute;
    left: 68.63%;
    right: 29.85%;
    top: 30.9%;
    bottom: 68.95%;
    
    background: #444053;
    }
    .v834-2{
        position: absolute;
    left: 59.77%;
    right: 38.13%;
    top: 32.36%;
    bottom: 67.52%;
    
    background: #444053;
    }
    .v834-3{
        position: absolute;
    left: 60.48%;
    right: 39.36%;
    top: 30.49%;
    bottom: 69.45%;
    
    background: #3F3D56;
    }
    .v834-4{
        
    position: absolute;
    left: 60.51%;
    right: 37.85%;
    top: 30.44%;
    bottom: 69.46%;
    
    border: 2px solid #3F3D56;
    }
    .v834-5{
        position: absolute;
        left: 62.98%;
        right: 36.57%;
        top: 30.74%;
        bottom: 69.19%;
        
        border: 2px solid #3F3D56;
    }
    .v834-6{
        position: absolute;
        left: 62.66%;
        right: 36.23%;
        top: 30.71%;
        bottom: 69.11%;
        
        border: 2px solid #3F3D56;
    }
    .v834-7{
        position: absolute;
        left: 62.45%;
        right: 36.01%;
        top: 30.68%;
        bottom: 69.07%;
        
        border: 2px solid #3F3D56;
    }
    .v834-8{
        position: absolute;
    left: 62.9%;
    right: 36.65%;
    top: 30.75%;
    bottom: 69.17%;
    
    background: #57B894;
    }
    .v834-9{
        position: absolute;
    left: 63.02%;
    right: 36.54%;
    top: 30.5%;
    bottom: 69.43%;
    
    border: 2px solid #3F3D56;
    }
    .v834-10{
        position: absolute;
    left: 62.7%;
    right: 36.15%;
    top: 30.46%;
    bottom: 69.33%;
    
    border: 2px solid #3F3D56;
    }
    .v834-11{
        position: absolute;
    left: 62.49%;
    right: 35.92%;
    top: 30.43%;
    bottom: 69.28%;
    
    border: 2px solid #3F3D56;
    }
    .v834-12{
        position: absolute;
    left: 62.95%;
    right: 36.61%;
    top: 30.52%;
    bottom: 69.4%;
    
    background: #57B894;
    }
    .v834-13{
        position: absolute;
    left: 62.89%;
    right: 36.67%;
    top: 30.27%;
    bottom: 69.66%;
    
    border: 2px solid #3F3D56;
    }
    .v834-14{
        position: absolute;
    left: 62.59%;
    right: 36.33%;
    top: 30.24%;
    bottom: 69.59%;
    
    border: 2px solid #3F3D56;
    
    }
    .v834-15{
        position: absolute;
    left: 62.38%;
    right: 36.12%;
    top: 30.21%;
    bottom: 69.55%;
    
    border: 2px solid #3F3D56;
    }
    .v834-16{
        position: absolute;
    left: 62.81%;
    right: 36.75%;
    top: 30.28%;
    bottom: 69.64%;
    
    background: #57B894;
    }
    .v834-17{
        position: absolute;
    left: 59.68%;
    right: 39.89%;
    top: 31.21%;
    bottom: 68.7%;
    
    background: #2F2E41;
    }
    .v834-18{
        position: absolute;
    left: 57.75%;
    right: 41.54%;
    top: 30.55%;
    bottom: 68.96%;
    
    background: #D0CDE1;
    }
    .v834-19{
        position: absolute;
    left: 58.13%;
    right: 40.01%;
    top: 30.6%;
    bottom: 68.97%;
    
    background: #9F616A;
    }
    .v834-20{
        position: absolute;
    left: 59.65%;
    right: 40.17%;
    top: 30.59%;
    bottom: 69.36%;
    
    background: #7EC845;
    }
    .v834-21{
        position: absolute;
    left: 59.4%;
    right: 39.85%;
    top: 30.49%;
    bottom: 69.2%;
    
    background: #2F2E41;
    }
    .v834-22{
        position: absolute;
    left: 59.78%;
    right: 39.39%;
    top: 30.42%;
    bottom: 69.06%;
    
    background: #D0CDE1;
    }
    .v834-23{
        position: absolute;
    left: 59.08%;
    right: 40.82%;
    top: 31.43%;
    bottom: 68.08%;
    
    background: #000000;
    opacity: 0.1;
    }
    .v834-24{
        position: absolute;
    left: 58.19%;
    right: 40.61%;
    top: 29.91%;
    bottom: 69.7%;
    
    background: #2F2E41;
    }
    .v834-25{
        position: absolute;
    left: 59.4%;
    right: 39.51%;
    top: 30.87%;
    bottom: 68.73%;
    
    background: #9F616A;
    }
    .v834-26{
        position: absolute;
    left: 57.81%;
    right: 41.21%;
    top: 30.38%;
    bottom: 68.55%;
    
    background: #D0CDE1;
    }
    .v834-27{
        position: absolute;
    left: 59.1%;
    right: 39.63%;
    top: 30.35%;
    bottom: 68.62%;
    
    background: #D0CDE1;
    }
    .v834-28{
        position: absolute;
    left: 58.26%;
    right: 39.94%;
    top: 30.38%;
    bottom: 68.75%;
    
    background: #7EC845;
    }
    .v834-29{
        position: absolute;
    left: 58.35%;
    right: 40.82%;
    top: 30.21%;
    bottom: 69.5%;
    
    background: #9F616A;
    }
    .v834-30{
        position: absolute;
    left: 58.35%;
    right: 40.63%;
    top: 30%;
    bottom: 69.67%;
    
    background: #9F616A;
    }
    .v834-31{
        position: absolute;
    left: 58.1%;
    right: 39.9%;
    top: 31.14%;
    bottom: 67.45%;
    
    background: #2F2E41;
    }
    .v834-32{
        position: absolute;
    left: 57.63%;
    right: 41.62%;
    top: 32.35%;
    bottom: 67.19%;
    
    background: #2F2E41;
    }
    .v834-33{
        position: absolute;
    left: 58.26%;
    right: 40.39%;
    top: 31.37%;
    bottom: 67.32%;
    
    background: #2F2E41;
    }
    .v834-34{
        position: absolute;
    left: 58.73%;
    right: 40.41%;
    top: 32.63%;
    bottom: 67.14%;
    
    background: #2F2E41;
    }
    .v834-35{
        position: absolute;
    left: 57.07%;
    right: 42.6%;
    top: 32.46%;
    bottom: 67.2%;
    
    background: #3F3D56;
    }
    .v834-36{
        position: absolute;
    left: 56.85%;
    right: 42.37%;
    top: 32.46%;
    bottom: 67.2%;
    
    background: #7EC845;
    }
    .v834-37{
        position: absolute;
    left: 64.2%;
    right: 35.64%;
    top: 30.62%;
    bottom: 69.32%;
    
    background: #3F3D56;
    }
    .v834-38{
        position: absolute;
    left: 64.23%;
    right: 32.18%;
    top: 30.64%;
    bottom: 68.08%;
    
    border: 2px solid #3F3D56;
    }
    .v834-39{
        position: absolute;
    left: 67.37%;
    right: 31.59%;
    top: 31.07%;
    bottom: 68.76%;
    
    background: #2F2E41;
    }
    .v834-40{
        position: absolute;
    left: 67.88%;
    right: 30.78%;
    top: 31.06%;
    bottom: 68.35%;
    
    background: #2F2E41;
    }
    .v834-41{
        position: absolute;
    left: 67.67%;
    right: 31.25%;
    top: 31.11%;
    bottom: 68.36%;
    
    background: #2F2E41;
    }
    .v834-42{
        position: absolute;
    left: 67.02%;
    right: 30.95%;
    top: 31.99%;
    bottom: 67.64%;
    
    background: #575A89;
    }
    .v834-43{
        position: absolute;
    left: 66.71%;
    right: 32.61%;
    top: 32.29%;
    bottom: 67.59%;
    
    opacity: 0.2;
    border: 2px solid #000000;
    }
    .v834-44{
        position: absolute;
    left: 66.01%;
    right: 31.89%;
    top: 32.24%;
    bottom: 67.29%;
    
    background: #2F2E41;
    }
    .v834-45{
        position: absolute;
    left: 68.55%;
    right: 30.73%;
    top: 31.62%;
    bottom: 68.14%;
    
    background: #7EC845;
    }
    .v834-46{
        position: absolute;
    left: 66.76%;
    right: 32.66%;
    top: 31.57%;
    bottom: 68.14%;
    
    background: #7EC845;
    }
    .v834-47{
        position: absolute;
    left: 68.8%;
    right: 30.59%;
    top: 32.26%;
    bottom: 67.64%;
    
    opacity: 0.2;
    border: 2px solid #000000;
    }
    .v834-48{
        position: absolute;
    left: 67.93%;
    right: 30.04%;
    top: 32.2%;
    bottom: 67.38%;
    
    background: #2F2E41;
    }
    .v834-49{
        position: absolute;
    left: 68.71%;
    right: 30.84%;
    top: 31.74%;
    bottom: 67.8%;
    
    background: #FFB9B9;
    }
    .v834-50{
        position: absolute;
    left: 66.81%;
    right: 32.72%;
    top: 31.75%;
    bottom: 67.74%;
    
    background: #FFB9B9;
    }
    .v834-51{
        position: absolute;
    left: 67.12%;
    right: 30.94%;
    top: 31.54%;
    bottom: 67.76%;
    
    background: #7EC845;
    }
    .v834-52{
        position: absolute;
        left: 67.41%;
        right: 31.58%;
        top: 31.15%;
        bottom: 68.52%;
        
        background: #FFB9B9;
    }
    .v834-53{
        position: absolute;
        left: 66.9%;
        right: 30.99%;
        top: 32.31%;
        bottom: 67.42%;
        
        background: #000000;
        opacity: 0.2;
    }
    .v834-54{
        position: absolute;
        left: 66.9%;
        right: 30.99%;
        top: 32.31%;
        bottom: 67.42%;
        
        background: #2F2E41;
    }
    .v834-55{
        position: absolute;
        left: 66.76%;
        right: 32.37%;
        top: 32.54%;
        bottom: 67.27%;
        
        background: #575A89;
    }
    .v834-56{
        position: absolute;
        left: 68.52%;
        right: 30.28%;
        top: 32.54%;
        bottom: 67.27%;
        
        background: #575A89;
    }
    .v834-57{
        position: absolute;
        left: 67.87%;
        right: 31.27%;
        top: 32.55%;
        bottom: 67.29%;
        
        background: #FFB9B9;
    }
    .v834-58{
        position: absolute;
        left: 67.41%;
        right: 31.45%;
        top: 31.39%;
        bottom: 68.31%;
        
        background: #000000;
        opacity: 0.1;
    }
    .v834-59{
        position: absolute;
        left: 67.41%;
        right: 31.45%;
        top: 31.39%;
        bottom: 68.31%;
        
        background: #FFB9B9;
    }
    .v834-60{
        position: absolute;
        left: 67.19%;
        right: 31.59%;
        top: 31.16%;
        bottom: 68.36%;
        
        background: #2F2E41;
    }
    
    .v834-61{
        position: absolute;
        left: 65.11%;
        right: 28.91%;
        top: 32.48%;
        bottom: 67.21%;
        
        background: #F2F2F2;
    }
    .v834-62{
        position: absolute;
        left: 56.74%;
        right: 39.4%;
        top: 32.69%;
        bottom: 67.11%;
        
        background: #F2F2F2;
    }
    .v834-63{
        position: absolute;
        left: 58.02%;
        right: 32.24%;
        top: 29.56%;
        bottom: 67.33%;
        
        background: #F2F2F2;
    }